<form
  nz-form
  (ngSubmit)="(frmRegister.valid)"
  #frmRegister="ngForm"
  novalidate
  autocomplete="off"
>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col nzXs="6" nzLg="6">
      <nz-form-item>
        <label nz-col nzXs="24" nzLg="24">Name</label>
        <div nz-col nzXs="24" nzLg="24">
          <input
            nz-input
            name="txtTitle"
            [ngModel]="'txtTitle Input'"
            #txtTitle="ngModel"
            required
          />
        </div>
      </nz-form-item>
    </div>
    <div nz-col nzXs="6" nzLg="6">
      <nz-form-item>
        <label nz-col nzXs="24" nzLg="24">Name</label>
        <div nz-col nzXs="24" nzLg="24">
          <input
            nz-input
            name="txtTitle"
            [ngModel]="'txtTitle Input'"
            #txtTitle="ngModel"
            required
          />
        </div>
      </nz-form-item>
    </div>
    <div nz-col nzXs="6" nzLg="6">
      <nz-form-item>
        <label nz-col nzXs="24" nzLg="24">Name</label>
        <div nz-col nzXs="24" nzLg="24">
          <input
            nz-input
            name="txtTitle"
            [ngModel]="'txtTitle Input'"
            #txtTitle="ngModel"
            required
          />
        </div>
      </nz-form-item>
    </div>
    <div nz-col nzXs="6" nzLg="6">
      <nz-form-item>
        <label nz-col nzXs="24" nzLg="24">Name</label>
        <div nz-col nzXs="24" nzLg="24">
          <input
            nz-input
            name="txtTitle"
            [ngModel]="'txtTitle Input'"
            #txtTitle="ngModel"
            required
          />
        </div>
      </nz-form-item>
      <button (click)="pay()">Pay</button>
    </div>
  </div>
</form>
