<form #frmProject="ngForm" nz-form>
  <div nz-row nzAlign="middle" [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12">Project</div>

    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" style="text-align: end">
      <button nz-button>
        <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
      </button>
    </div>

    <nz-divider style="margin: 15px"></nz-divider>
    <div nz-col nzSm="24" nzMd="16" nzLg="16" style="padding-left: 10px">
      text
    </div>
    <div nz-col nzSm="24" nzMd="8" nzLg="8" style="padding-right: 10px">
      text
    </div>
  </div>
</form>
